 <div>
  <img width="130" src="/assets/user_add_icon.png" id="icon" alt="User Icon" /> 

</div>
 <form #signUpForm="ngForm" (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)">
  <input class="form-control" type="text" #name="ngModel" [(ngModel)]="userService.selectedUser.name" name="name" placeholder="Nombre Completo"
    required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !name.valid }">
  <div *ngIf="signUpForm.submitted && !name.valid">
    <label class="validation-message">Este campo es requerido.</label>
  </div>
  <input class="form-control" type="text" #email="ngModel" [(ngModel)]="userService.selectedUser.email" name="email" placeholder="E-mail"
    required [pattern]="emailRegex" [ngClass]="{'invalid-textbox' :signUpForm.submitted && !email.valid }">
  <div *ngIf="signUpForm.submitted && email.errors">
    <label *ngIf="email.errors.required" class="validation-message">Este campo es requerido.</label>
    <label *ngIf="email.errors.pattern" class="validation-message">Invalid email address.</label>
  </div>
  <input class="form-control" type="password" #password="ngModel" [(ngModel)]="userService.selectedUser.password" name="password"
    placeholder="clave" minlength="4" required [ngClass]="{'invalid-textbox' :signUpForm.submitted && !password.valid }">
  <div *ngIf="signUpForm.submitted && password.errors">
    <label *ngIf="password.errors.required" class="validation-message">Este campo es requerido.</label>
    <label *ngIf="password.errors.minlength" class="validation-message">Introduzca al menos 4 caracteres.</label>
  </div>
  <input type="submit" class="btn btn-success col-sm-6" value="Registrarse">
</form> 

<!-- Success message -->
<div class="success" *ngIf="showSucessMessage">
  Guardado exitosamente
</div>

<!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
  {{serverErrorMessages}}
</div>