<div>
  <img width="130" src="assets/login-user-icon.png" id="icon" alt="User Icon" /> 
 </div>
<form c #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit(signInForm)">
  <input class="form-control" type="text" name="email" #email="ngModel" [(ngModel)]="model.email" placeholder="E-mail" [pattern]="emailRegex" required
    [ngClass]="{'invalid-textbox' :signInForm.submitted && !email.valid }">
  <div *ngIf="signInForm.submitted && email.errors?.pattern">
    <label class="validation-message">Dirección de correo electrónico no válida.</label>
  </div>
  <input class="form-control" type="password" name="password" #password="ngModel" [(ngModel)]="model.password" placeholder="clave" required minlength="4"
    [ngClass]="{'invalid-textbox' :signInForm.submitted && !password.valid }">
  <div *ngIf="signInForm.submitted && password.errors?.minlength">
    <label class="validation-message">Mínimo 4 caracteres.</label>
  </div>
  <input type="submit" class="btn btn-info col-sm-7" value="Iniciar Sesión">
</form>
<!-- mensaje de error -->
<div class="alert" *ngIf="serverErrorMessages">
  {{serverErrorMessages}}
</div>